<h2>BioGraphServ File Formats</h2>

As we determine file types by their extension, you need to make sure your files are named appropriately before you upload them. 

<h3>BED</h3>

<p>
<b>Extension:</b> .bed

<p>
Bed files contain genomic regions. A common use is storing peaks called from ChIPseq experiments.
	
<p>	
Beds files are tab separated (specs <a href="http://genome.ucsc.edu/FAQ/FAQformat.html#format1">here</a>) and looks something like this: 

<pre>
chr1	100	150	region_1	0	+
chrX	200	300	region_2	0	+
</pre>

<p>
BioGraphServ uses columns 1-3 (chromosome, start and end) for the Chromosome regions graph, and the score (column #5) for the gene scores calculations.      

<p>
We also accept the ENCODE <a href="http://genome.ucsc.edu/FAQ/FAQformat.html#format13">broadPeak</a> and <a href="http://genome.ucsc.edu/FAQ/FAQformat.html#format12">narrowPeak</a>, using 'signalValue' in place of 'score'. If you are using files from ENCODE, please do not unzip them (keep the .broadPeak.gz extension), as the filenames are inconsistent and the files have no headers.   

<h3>Expression</h3>

<p><b>Extension:</b> .tsv / .csv (ie tab or comma separated) 
		
<p>
Expression files are tables of counts, where the first column of each row is an ID (eg a Gene/Transcript/MicroRNA etc), and other columns contain counts for that ID.

They are produced by programs such as <a href="www-huber.embl.de/users/anders/HTSeq/doc/count.html">HTSeq-count</a>, <a href="https://github.com/arq5x/bedtools2">bedtools multicov</a> or  <a href="http://ngsutils.org/modules/bamutils/count/">NGSUtils/bamutils/count</a>
 
We accept 2 kinds of expression files: single and multi-sample. Single sample files have 2 columns no header row: 

<table>
<tr><td>1/2-SBSRNA4</td><td>4</td></tr>
<tr><td>A1BG</td><td>50</td></tr>
<tr><td>A1BG-AS1</td><td>45</td></tr>
<tr><td>A1CF</td><td>0</td></tr>
<tr><td>A2LD1</td><td>92</td></tr>
<tr><td>A2M</td><td>2</td></tr>
<tr><td>A2ML1</td><td>0</td></tr>
</table>

<p>
While multi-sample expression files have headers, and the columns represent sample names:

<table>
<tr><th>ID</th><th>Sample One</th><th>Sample Two</th></tr>
<tr><td>1/2-SBSRNA4</td><td>4</td><td>5</td></tr>
<tr><td>A1BG</td><td>50</td><td>40</td></tr>
<tr><td>A1BG-AS1</td><td>45</td><td>35</td></tr>
<tr><td>A1CF</td><td>0</td><td>0</td></tr>
<tr><td>A2LD1</td><td>92</td><td>91</td></tr>
<tr><td>A2M</td><td>2</td><td>4</td></tr>
<tr><td>A2ML1</td><td>0</td><td>0</td></tr>
</table>

<h3>CuffDiff</h3>

<p><b>Extension:</b> .diff

<p>
Differential Expression from the <a href="http://cole-trapnell-lab.github.io/cufflinks/">CuffDiff</a> program. 

<p>		
We accept the 4 file types listed in the <a href="http://cole-trapnell-lab.github.io/cufflinks/cuffdiff/index.html#cuffdiff-output-files">Differential Expression Tests</a> section.

<h3>VCF</h3>

<p><b>Extension:</b> .vcf

<p>
This file stores variants calls and annotation (see <a href="https://github.com/samtools/hts-specs#variant-calling-data-files">spec</a>). 

<p>
BioGraphServ reads the QUAL (quality) field, and INFO fields defined in the header.  

</div>
