<style>
	div.clear {
		clear: both;
	}

	img.image-left {
		float: left;
		margin-right: 10px;
	}

	img.image-right {
		float: right;
		margin-left: 10px;
	}
	
	div.visual-guide-section {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
</style>
	
<script>
	SCALE_FACTOR = 0.6;
	$("img", "#svd-graph-editor").load(function() {
		this.width *= SCALE_FACTOR;
	});
	
</script>
<div id="svd-graph-editor">
<h2>SVD Graph Editor</h2>

<div class='text-container'>
	<h3>Intro</h3>
	<p>SVD (<a href="http://en.wikipedia.org/wiki/Singular_value_decomposition">Singular Value Decomposition</a>) is a method for reducing a large number of dimensions (for instance expression for >20,000 genes) to a smaller number of dimensions (eg a 2D plot) while retaining major differences.
	<p>A typical use is to ensure that samples that should be similar (eg replicates) are close together, and samples that are different (eg control vs treatment) are separated. This may also be useful to identify outliers or mislabelled samples.   	
</div>


<div class='text-container'>
	<h3>Generating in BioGraphServ</h3>
	<p>SVD plots are generated for multiple-expression files (uploaded or created in a Combo).
	<p>Below is a plot for 12 RNAseq samples, which were part of a time series experiment. Sample colors are set according to which time point they are from, so it is clear that replicates cluster together.
</div>

<img src="/static/images/svd_graph_screenshots/svd_graph_groups_jet.png" />

<div class='text-container'>
<p>You can see this graph in the "Sample Data" project, on the "MiRNA_Expression.csv" page. 
<p>We'll go through the steps required to create the above graph. To view the graph editor, click on a SVD graph.
<p>This editor is slightly different than the other, in that it has 2 extra tabs - "Groups" and "Samples" 
</div>

<div class='text-container'>
	<h3>Create Groups</h3>
	<ul>
	<li>Click the "Groups" tab
	<li>Enter "Timepoints" into the text box and press "Create"
	<li>Click on newly created "Timepoints" link 
	<li>Enter the name of each Group and click "Save"
	</ul>
</div>

<img src="/static/images/svd_graph_screenshots/svd_edit_categories.png" />

<div class='text-container'>
	<h3>Assign Samples to Groups</h3>
	<ul>
	<li>Click the "Samples" tab
	<li>Select the appropriate group for each sample
	<li>Click "Save"
	</ul>
</div>

<img src="/static/images/svd_graph_screenshots/svd_edit_samples.png" />

<div class='text-container'>
	<h3>Select Category to color graph</h3>
	<ul>
	<li>Go back to the "Edit" tab
	<li>Change the bottom category to "Timepoints" 
	<li>Click "Save"
	</ul>
	<p>The graph will now be colored according to the "Timepoints" group/sample configuration.
</div>

<img src="/static/images/svd_graph_screenshots/svd_graph_groups_jet.png" />

<div class='text-container'>
	<h3>Custom Graph Colors</h3>
	<p>Each category (collection of groups) can be colored manually, or by automatically chosing colors from a color map.  
	<p>To manually color groups, select "Use individual Group Colors" and then click on the colored squares next to group names.
</div>
<img src="/static/images/svd_graph_screenshots/svd_group_colors.png" />


<div class='text-container'>
	<p>To view the new colors, you need to go back to the main "Edit" tab and click "Update"
</div>
<img src="/static/images/svd_graph_screenshots/svd_graph_groups_manual.png" />


</div>