<style>
	div.clear {
		clear: both;
	}

	img.image-left {
		float: left;
		margin-right: 10px;
	}

	img.image-right {
		float: right;
		margin-left: 10px;
	}
	
	div.visual-guide-section {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	div.double-image-section .text-container {
		width: 400px;
	}
	
</style>
	
<script>
	SCALE_FACTOR = 0.6;
	$("img", "#visual-tour").load(function() {
		this.width *= SCALE_FACTOR;
	});
	
	function view_svd_graph_doc() { 
		var parentDiv = $("#visual-tour").parent();
		parentDiv.load("/static/html/svd_graph_editor.html");
	} 
	
</script>
<div id="visual-tour">
<h2>Overview of BioGraphServ</h2>

<div id="visual-guide-upload" class="visual-guide-section">
<img class="image-left" src="/static/images/screenshots/bgs_screenshot_upload.png" />
<div class='text-container'>
	<h3>Uploading Files</h3>
	<p>Select "Add Files.." or drag and drop files onto the screen to start an upload.
	<p>Files appear in the upload bar on the left side of the screen.
	<p>Click on a file name to view generated graphs and analysis.
</div>
<div class="clear"></div>
</div>

<div id="visual-guide-graphs" class="visual-guide-section double-image-section">
<h3>Graphs</h3>
<div class="left">
	<div class='text-container'>
	<p>Move your mouse cursor over an image to download a high quality image in PDF, EPS, SVG, TIF or PNG format.
	</div>
	<img src="/static/images/screenshots/bgs_screenshot_graph_download.png" />
</div>
<div class="right">
	<div class='text-container'>
		<p>Click on the image to launch an editor.
		<p>Some graphs have more <a href="javascript:view_svd_graph_doc()">complex editors</a>
	</div>
	<img src="/static/images/screenshots/bgs_screenshot_edit_image.png" />
</div>
<div class="clear"></div>
</div>

<div id="visual-guide-settings" class="visual-guide-section">
<img class="image-right" src="/static/images/screenshots/bgs_screenshot_settings.png" />
<div class='text-container'>
	<h3>Settings</h3>
	<p>Bed files require reference annotations to draw chromosome graphs and assign peaks to genes.
	<p>The sliders at the bottom are used to customise promoter / gene ranges.
</div>
<div class="clear"></div>
</div>

<div id="visual-guide-auto-combo" class="visual-guide-section">
<h3>Combining Files</h3>

<img class="image-left" src="/static/images/screenshots/bgs_screenshot_auto_combo.png" />
<div class='text-container'>
	<p>Combine multiple files in the "Combine" tab on the left of the screen.
	<p>Data of the same type is automatically grouped together in the "Auto" section.
	<p>
</div>
<div class="clear"></div>
</div>

<div id="visual-guide-graphs" class="visual-guide-section double-image-section">
<div class="left">
	<div class='text-container'>
		<p>Drag and drop columns to join data from multiple sources.
		<p>For instance ChIP-seq peaks in promoter regions can be joined with expression data to explore gene regulation. 
	</div>
	<img src="/static/images/screenshots/bgs_screenshot_custom_columns.png" />
</div>
<div class="right">
	<div class='text-container'>
		<p>View the new columns in the grid tab
		<p>Click the download button to export as CSV
	</div>
	<img src="/static/images/screenshots/bgs_screenshot_download.png" />
</div>
<div class="clear"></div>
</div>

</div>