<link rel="stylesheet" type="text/css" media="screen" href="/static/js/lib/jquery.jqGrid-4.7.0/css/ui.jqgrid.css" />
<style>
	.ui-jqgrid-caption {
		display: none;
	}
</style>

<script src="/static/js/lib/jquery.jqGrid-4.7.0/js/i18n/grid.locale-en.js"></script>
<script src="/static/js/lib/jquery.jqGrid-4.7.0/js/jquery.jqGrid.min.js"></script>
<script>
	function download_grid() {
		console.log("download grid");
		var url = "{% url 'download_combo_dataframe' project.pk combo.pk %}";
		window.location = url;
	}

	function setupGrid() {
		$(function () {
	    	$.getJSON("{% url 'combo_grid_config' project.pk combo.pk %}", function(data) {
				var csrf_data = {csrfmiddlewaretoken: "{{ csrf_token }}"};

			    var grid = $("#combo-grid");
				var pagerId = '#combo-pager';
			    data["pager"] = pagerId;
			    grid.jqGrid(data)
	            	.navGrid(pagerId,
	                	{add: false, edit: false, del: false, view: false, search:false},
			       		{}, // edit options
			        	{}, // add options
			       	 	{}, // del options 
			        	{}, // search options 
			        	{} // view options 
		        	).jqGrid( //#pager
			            'navButtonAdd', pagerId, {
			            caption : "Download",
			            buttonicon : "ui-icon-arrowthickstop-1-s",
			            onClickButton : download_grid,
			            position : "first",
			            title : "Export",
			            cursor : "pointer"
			        });
		    });
		});
	}

	$(document).ready(function() {
		setupGrid();
	});
</script>
<div>
	<table id="combo-grid"></table>
	<div id="combo-pager"></div>	
</div>
