<style>
	#v-spacer {
		height: 100px;
	}
	
	#delete-box button {
		font-size: 1em !important;
	}
	
	#delete-box #delete-project-button {
		border: black;
		background: #ff0000;
	}
	
	.genomic-ranges-container {
		text-align: center;
	}
	
	.genomic-ranges-container input {
		width: 55px;
	}

	.genomic-ranges-container .slider {
		width: 140px;
	}
	
	td.genomic-anchor {
		width: 160px;
	}
</style>

<script>
	var genomic_anchor_lookup = {{ genomic_anchor_lookup | safe }};

	function viewDeleteConfirm() {
		$("#delete-box").slideDown();
	}

	function hookUpSlider() {
		var formPrefix = $(this).attr('form_prefix');
		var direction = $(this).attr('direction');
		var sliderMin = 0;
		var sliderMax = parseInt($("#id_" + formPrefix + "-max_size").val());
		var sliderStep = parseInt($("#id_" + formPrefix + "-step_size").val());

		var intInput = $("#id_" + formPrefix + "-" + direction);

		var sliderStart = intInput.val();
		if (direction == 'upstream') {
			sliderStart = -sliderStart;
			var oldMin = sliderMin;
			sliderMin = -sliderMax;
			sliderMax = oldMin;
		}

		$(this).slider({
			min: sliderMin,
			max: sliderMax,
			step: sliderStep,
			values: [ sliderStart ],
			slide: function( event, ui ) {
				var myValue = ui.values[0];
				intInput.val(Math.abs(myValue));
			}
		});

	}

	function getHiddenValue(selector) {
		var formPrefix = $(selector).attr('form_prefix');
		var fieldSuffix = $(selector).attr('field_suffix');
		return $("#id_" + formPrefix + "-" + fieldSuffix).val();
	}
	
	function setLabelFromHiddenValue() {
		var hiddenValue = getHiddenValue(this);
		$(this).html(hiddenValue);
	}

	function setLabelFromHiddenValueWithLookup() {
		var hiddenValue = getHiddenValue(this);
		$(this).html(genomic_anchor_lookup[hiddenValue]);
	}

	$(document).ready(function() {
		$('button', '#edit-project').button();
		var options	= {
			target: '#edit-project',
			success: function() {
				if ($(".errorlist", "form#project-form").length == 0) { // success
				{% if center_panel_save_redirect_url %}
					loadCenterPanel("{{ center_panel_save_redirect_url }}");
				{% else %}
					$("#initial-message").fadeOut();
					$("#save-message").fadeIn(function() { $(this).fadeOut(1500); });
				{% endif %}
				}
			},
		};
			
		$('form#project-form').ajaxForm(options); 

		$('#cancel-delete-project-button').click(function() {
			$("#delete-link").show();
			$("#delete-box").slideUp();
		});

		$('button.delete-button').button({
			icons: {
	        	primary: "ui-icon-trash"
	      	},
	    });

		$(".slider").each(hookUpSlider);
		$(".genomic-ranges-label").each(setLabelFromHiddenValue);
		$(".genomic-ranges-anchor").each(setLabelFromHiddenValueWithLookup);

		var message = "(optional, only used for <a href='{% url 'lost_projects' %}'>lost project</a> reminders)";
		$("#id_email").after(message);
	});
</script>

<div id='edit-project'>
	{% if initial_message %}
		<div id='initial-message'>
		{{ initial_message }}
		</div>
	{% endif %}
	<form id='project-form' method="post" action="{{ request.path }}">
        {% csrf_token %}
		<table>
			{% for field in project_form %}
			<tr>
				<td>
				{% if field.field.required %}
				<span class="label"><span class="required">{{ field.label }}</span></span>
		        {% else %}
		        <span class="label">{{ field.label }}</span>
		        {% endif %}
				<td>{{ field.errors }}
					{{ field }}
			</tr>
			{% endfor %}

			{% for f in genomic_ranges_formset.management_form %}
		    	{{ f }}
		    {% endfor %}

		    <tr>
	     	{% for f in genomic_ranges_formset.forms %}
			{% for hidden in f.hidden_fields %}
				{{ hidden }}
			{% endfor %}
        	<tr>
        		<td>
		        <span form_prefix="{{ f.prefix }}" field_suffix="name" class="genomic-ranges-label label"></span>
				</td>
				<td>
				<div class='genomic-ranges-container'>
				<table>
				<tr>
				<td><div form_prefix='{{ f.prefix }}' direction='upstream' class='slider'></div>
				<td class='genomic-anchor'>5'- <span form_prefix="{{ f.prefix }}" field_suffix="anchor" class="genomic-ranges-anchor"></span> -3'</td>
				<td><div form_prefix='{{ f.prefix }}' direction='downstream' class='slider'></div>
				</tr>
				<tr>
				<td>{{ f.upstream.errors }}{{ f.upstream }} upstream
				<td>
				<td>{{ f.downstream.errors }}{{ f.downstream }} downstream
				</tr>
				</table>
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td><button>Save</button>
				<td><span id='save-message' style='display: none'>Saved Successfully</span>
			</tr>
		</table>
	</form>
	<div id='v-spacer'></div>
	<div>
		<a id='delete-link' href='javascript:viewDeleteConfirm()'>Delete project</a>
		<div id='delete-box' style='display: none;'>
		<form id='delete-project-form' method="post" action="{% url 'delete_project' project.pk %}">
	        {% csrf_token %}
			<p><b>Warning:</b> This cannot be undone!</p>
			<button id='cancel-delete-project-button' type='button'>Cancel</button>
			<button id='delete-project-button' class='delete-button'>Delete Project</button>
		</form>
		</div>
	</div>

</div>