{% extends "bgs/base.html" %}

{% block head %}
	<link href="/static/css/view_upload.css"" rel="stylesheet"></link>
	<style>
	#left-container {
		width: 450px;
		height: 100%;
	}

	#center-panel {
		flex: 1;
	}

	</style>
{% endblock %}

{% block jshead %}
	var csv_result_type_name_lookup = {{ csv_result_type_name_lookup | safe }};
	var file_type_csv_result_type_lookup = {{ file_type_csv_result_type_lookup | safe }};
	var csv_result_type_counts = {};

	for (k in csv_result_type_name_lookup) {
		csv_result_type_counts[k] = 0;
	}
	
{% if existing_files %}
	var existingFiles = {{ existing_files | safe }};
	window.fileupload_ready = function() {
		var $form = $('#fileupload');
		$form.fileupload('option', 'done').call($form, $.Event('done'), {result: {files: existingFiles}});
	};
{% endif %}

	function ref_count(file_type, diff) {
		var csv_result_types = file_type_csv_result_type_lookup[file_type];
		for (var i=0 ; i<csv_result_types.length ; ++i) {
			var rt = csv_result_types[i];
			csv_result_type_counts[rt] += diff;
		}
	}

	function add_file_type(file_type) {
		ref_count(file_type, 1);
		rebuild_auto_combo_table(csv_result_type_counts);
	}

	function remove_file_type(file_type) {
		ref_count(file_type, -1);
		rebuild_auto_combo_table(csv_result_type_counts);
	}

	function noProject() {
		$("#combo-no-project").show();
		$("#combo-has-project").hide();
	}

	function hasProject() {
		$("#combo-no-project").hide();
		$("#combo-has-project").show();

		// Project links on top right
		if ($("#project-links").length == 0) {
			var right_div = $("<span id='project-links' />").css({position : 'absolute', right: '0px', bottom: '0px'});
			$("ul", "#menuContainer").append(right_div);
			
			right_div.append($("<li id='project-settings'><a href='javascript:editProject();'>Settings</a></li>"))
			right_div.append($("<li id='download-project'><a href='{% url 'download_project' project_id %}'>Download Zip</a></li>"))
		}
	}

	function loadCenterPanel(url, success) {
		// When JQGrid is loaded in center panel then deleted from DOM it causes this dialog
		// to be lost in top left hand corner. jqGrid("GridUnload") is not doing anything (yes I have that as addon)
		// TODO: Work out what is going on here rather than hack below
		$(".ui-jqdialog").filter(function() {
        	return $(this).attr('aria-labelledby').match(/^alerthd.*grid$/);
    	}).remove();

		function success_callback() {
			read_only_disable_check();
			if (success) {
				success();
			}
		}

		$("#center-panel").load(url, success_callback);
	}

	function show_more_details() {
		loadCenterPanel("/static/html/file_formats.html");
	}

	function visual_tour() {
		loadCenterPanel("/static/html/tour.html");
	}

	function view_sample_project() {
		window.location = "{% url 'view_project' 'sample_project' %}";
	}

	function editProject() {
		var url = '{% url 'edit_project' project_id %}';
		var success = function() {
			window.visible_uploaded_file_id = null;
		};
		
		loadCenterPanel(url, success);
	}

	function viewUploadedFile(uploaded_file_id) {
		var view_uploaded_file_base_url = '{% url 'view_uploaded_file' project_id 9999999999 %}';
		var url = view_uploaded_file_base_url.replace('9999999999', uploaded_file_id);

		var success = function() {
			window.visible_uploaded_file_id = uploaded_file_id;
			window.visible_combo_id = null;
		};
		
		loadCenterPanel(url, success);
	}

	function loadCenterCombo(url, combo_id) {
		var success = function() {
			window.visible_uploaded_file_id = null;
			window.visible_combo_id = combo_id;
		};
		
		loadCenterPanel(url, success);
	}

	function viewAutoCombo(auto_combo_result_type) {
		var view_auto_combo_base_url = '{% url 'view_auto_combo' project_id 'RESULT_TYPE' %}';
		var url = view_auto_combo_base_url.replace('RESULT_TYPE', auto_combo_result_type);

		loadCenterCombo(url, null);
	}


	function viewCombo(combo_id) {
		var view_combo_base_url = '{% url 'view_combo' project_id 9999999999 %}';
		var url = view_combo_base_url.replace('9999999999', combo_id);

		loadCenterCombo(url, combo_id);
	}

	function delete_selected_combos() {
		$("input", "#combo-table").each(function() {
			if ($(this).is(":checked")) {
				delete_combo($(this).attr("combo_id"));
			}
		});
	}

	function get_combo_row(combo_id) {
		return $("tr[combo_id='" + combo_id + "']", "#combo-table");
	}

	function get_uploaded_file_link(uploaded_file_id) {
		return $("a", "p.name[uploaded_file_id=" + uploaded_file_id + "]", "form#fileupload");
	}

	function remove_combo_from_table(data) {
		var combo_id = data["id"];
		get_combo_row(combo_id).remove();

		if (window.visible_combo_id == combo_id) {
			$("#view-combo").fadeOut(200, function() { $("#center-panel").empty(); });
		}
	}

	function delete_combo(combo_id) {
		var base_url = "{% url 'delete_combo' project_id 9999999999 %}";
		var url = base_url.replace(9999999999, combo_id);
		
		$.ajax({
		    type: "POST",
		    data: 'csrfmiddlewaretoken={{ csrf_token }}',
		    url: url,
		    success: remove_combo_from_table,
		});
	}

	function add_auto_combo_type(auto_combo_type, auto_combo_type_name) {
		$('#auto-combo-header').show();
		var comboButtonTD = $("<td>");
		var row = $("<tr><td><a href='javascript:viewAutoCombo(\"" + auto_combo_type + "\");'>All " + auto_combo_type_name + "</a></tr></tr>");
		row.attr('auto_combo_type', auto_combo_type);
		row.append(comboButtonTD);
		
		var comboTable = $("#auto-combo-table");
		comboTable.append(row);
	}
	
	function rebuild_auto_combo_table(csv_result_type_counts) {
		$("#auto-combo-table").empty();
		for (csv_result_type in csv_result_type_name_lookup) {
			if (csv_result_type_counts[csv_result_type]) {
				var name = csv_result_type_name_lookup[csv_result_type];
				add_auto_combo_type(csv_result_type, name);
			}
		}
	}
	
	function add_combo_to_table(combo) {
		var combo_id = combo["id"];
		var name = combo["name"];
		
		var deleteButton = $("<button>Delete</button>");
		deleteButton.button({
			icons: {
	        	primary: "ui-icon-trash"
	      	},
	    }).click(function() {
			delete_combo(combo_id);
	    });		

		var comboButtonTD = $("<td>");
		comboButtonTD.append(deleteButton);
		
		var selectInput = $("<input type='checkbox' class='toggle' />");
		selectInput.attr('combo_id', combo_id);
		comboButtonTD.append(selectInput);

		var row = $("<tr><td><a href='javascript:viewCombo(" + combo_id + ");'>" + name + "</a></tr></tr>");
		row.attr('combo_id', combo_id);

		row.append(comboButtonTD);
		
		var comboTable = $("#combo-table");
		comboTable.append(row);
	}

	function read_only_disable_check() {
	{% if project.read_only %}
		var inlineEditor = $(".my_pp_inline"); 
		$("input", inlineEditor).prop("disabled", true);
		$("select", inlineEditor).prop("disabled", true);

		function isNotDownloadButton() {
			return !$(this).hasClass("download-image-button");
		}

		var buttonsSelector = $(".ui-button").filter(isNotDownloadButton);
		buttonsSelector.prop('disabled', true).css({"opacity" : 0.5});
	{% endif %}
	}

{% endblock %}


{% block jsdocumentready %}

	$("#left-file-tabs").tabs();

{% if project %}
	hasProject();
{% else %}
	noProject();
{% endif %}
	var fileUpload = $('#fileupload');
	fileUpload.bind('fileuploaddone', function (e, data) {
		var fileData = data.result.files[0];

		var error = fileData['error'];
		if (!error) {
			hasProject();

			// Show if nothing is already open.
			if (!window.visible_uploaded_file_id) {
				viewUploadedFile(fileData.uploaded_file_id);
			}
	
			add_file_type(fileData.file_type);
		}
	});
	
	fileUpload.bind('fileuploaddestroy', function (e, data) {
		var el = $("p.name", window.context);
		var uploaded_file_id = el.attr('uploaded_file_id')
		var file_type = el.attr('file_type')

		if (window.visible_uploaded_file_id == uploaded_file_id) {
			window.visible_uploaded_file_id = null;
			var centerPanel = $("#center-panel");
			centerPanel.children().fadeOut(function() { centerPanel.empty(); });
		}

		remove_file_type(file_type);
	});

	$("#combo-create-button").button({
		icons: {primary: "ui-icon-plusthick"},
    }).click(function() {
    	var name = $('#new-combo-name').val() || 'new combo';
		var data = 'csrfmiddlewaretoken={{ csrf_token }}&name=' + name;
		$.ajax({
		    type: "POST",
		    data: data,
		    url: "{% url 'create_combo' project_id %}",
		    success: add_combo_to_table,
		});
    });
    
	$("#combo-delete-all-button").button({
		icons: {primary: "ui-icon-trash"},
	}).click(delete_selected_combos);

	$("input#combo-select-all").change(function() {
		var is_checked = $(this).is(":checked");
		$("input", "#combo-table").each(function() {
			$(this).prop("checked", is_checked);
		});
	});

{% if existing_files %}
	for (var i=0 ; i<existingFiles.length ; ++i) {
		ref_count(existingFiles[i].file_type, 1);
	}
	rebuild_auto_combo_table(csv_result_type_counts);
{% endif %}

{% if existing_combos %}
	var existingCombos = {{ existing_combos | safe }};
	for (var i=0 ; i<existingCombos.length; ++i) {
		add_combo_to_table(existingCombos[i]);
	}
{% endif %}

	read_only_disable_check();

{% endblock %}

{% block content %}
	<div id='left-container'>
		<div id="left-file-tabs">
			<ul>
		    	<li><a href="#upload-panel">Upload</a></li>
		    	<li><a href="#combo">Combine</a></li>
			</ul>
		
			<div id="upload-panel" class='tab-panel'>
				Upload BED, VCF or Gene Expression Files. <a href="javascript:show_more_details();">More Details...</a>
				{% load jfutags %}
				{% jfu 'bgs/jfu_upload_form.html' %}
			</div>
			<div id="combo" class='tab-panel'>
				<div id='combo-has-project'>
					<div id='combo-container'>
						<div id='auto-combo-header' style='display: none'><h3>Auto:</h3>
							<table class="table table-striped">
								<tbody id='auto-combo-table' class='files'></tbody>
							</table>
						</div>

						<h3>Custom:</h3>
						<div id='combo-toolbar'>
							<input id='new-combo-name' />
							<button id='combo-create-button'>Create</button>
							<button id='combo-delete-all-button'>Delete</button>
							<input id='combo-select-all' type='checkbox' class='toggle' />
						</div>
						<table class="table table-striped">
							<tbody id='combo-table' class='files'></tbody>
						</table>
					</div>
				</div>
				<div id='combo-no-project'>
				<span>You need to upload files before you can combine them.</span>
				</div>
			</div>
		</div>
	</div>

	<div id='center-panel'>

{% if project.read_only %}
		<div id='readonly-page'>
			<div class='readonly-text'>This project is read-only.</div>
			<div>You can view links but not make changes</div>
		</div>
{% else %}
		<div id='landing-page'>
			<div id='biographserv-title'>
				<b>BioGraphServ</b>: Bioinformatics Graph Server
			</div>

			<div id='instructions-headline-container'>
			<div id='instructions-headline'>Drag and drop .bed files, Gene Expression, CuffDiff or VCF files onto the page to upload and make graphs.</div>
			</div>			
			<div id="instruction-links">
			 	<p><a href="javascript:visual_tour();">Quick Guide</a> with pictures.
			 	<p>View a <a href="javascript:view_sample_project();">sample project</a>.
			</div>

		<div class="footer">
			Version {{ version }}. BioGraphServ is <a href="https://bitbucket.org/sacgf/biographserv">open source</a>.
		</div>
		</div>
	</div>
{% endif %}

{% endblock %}