{% extends 'jfu/upload_form.html' %}

{% block JS_INIT %}
        var fileUpload = $('#fileupload').fileupload({

            formData: [
                { name: "csrfmiddlewaretoken", value: "{{ csrf_token }}"},
                { name: "project_id", value: "{{ project_id }}"}
            ],

            {% block JS_OPTS %}
          	autoUpload: true,
			//sequentialUploads: true,

            {% endblock %}
        });
        
{% if project.read_only %}
		fileUpload.fileupload("disable");
{% endif %}
        
        // Use this to do anything to modify upload
        if (window.fileupload_ready) {
        	window.fileupload_ready();
        }
        
{% endblock %}

{% block JS_DOWNLOAD_TEMPLATE_DOWNLOAD %}
	{% comment %}
	Don't have data-gallery
	{% endcomment %}
    <td>
        <p class="name" file_type={{ JQ_OPEN }}=file.file_type{{ JQ_CLOSE }} uploaded_file_id={{ JQ_OPEN }}=file.uploaded_file_id{{ JQ_CLOSE }}>
            {{ JQ_OPEN }} if (file.url) { {{ JQ_CLOSE }}
                <a href="{{ JQ_OPEN }}=file.url{{ JQ_CLOSE }}"
                 title="{{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}">
                 {{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}
                </a>
            {{ JQ_OPEN }} } else { {{ JQ_CLOSE }}
                <span>{{ JQ_OPEN }}=file.name{{ JQ_CLOSE }}</span>
            {{ JQ_OPEN }} } {{ JQ_CLOSE }}
        </p>

        {% block JS_DOWNLOAD_TEMPLATE_ERROR %}
            {{ JQ_OPEN }} if (file.error) { {{ JQ_CLOSE }}
                <div><span class="label label-danger">Error</span> {{ JQ_OPEN }}=file.error{{ JQ_CLOSE }}</div>
            {{ JQ_OPEN }} } {{ JQ_CLOSE }}
        {% endblock %}

    </td>
{% endblock %}


{% block JS_JQUERY %}
    {% comment %}
 	JQuery already included
    {% endcomment %}
{% endblock %}

{% block JS_BOOTSTRAP %}
    {% comment %}
	Don't use boostrap
    {% endcomment %}
{% endblock %}
{% block CSS_BOOTSTRAP %}
    {% comment %}
	Don't use boostrap
    {% endcomment %}
{% endblock %}


{% block JS_JQUERY_FILEUPLOAD_UI %}
{% comment %}
 The File Upload user interface plugin.
 dlawrence - Also added jquery UI to get that to work
{% endcomment %}
<script src="{{ STATIC_URL }}js/jquery.fileupload-ui.js"></script>
<script src="{{ STATIC_URL }}js/jquery.fileupload-jquery-ui.js"></script>
{% endblock %}

