{% if results %}
	{% for result in results %}
		<div class='result'>
		{% if result.is_graph %}
			<h3>{{ result.name }}</h3>
			<table>
			<tr>
			<td><div class='image-container'>
					<a href='#inline-editor-{{ result.pk }}' rel="prettyPhoto[inline]">Edit</a>
					<div class='result-graph' id="result-graph-{{ result.pk }}"></div>
				</div>
			</tr>
			</table>
			<div id='inline-editor-{{ result.pk }}' style='display: none; width:800px; height:600px'>
				<div class='styled-graph-editor-container'>
					<div class="loading-message">
					Loading Graph Editor...
					</div>
				</div>
				<div class="styled-graph-center-container">
					<div class="styled-graph-center-content"></div>
                    <div class='result-graph' id="result-graph-{{ result.pk }}"></div>
				</div>
			</div>


		{% elif result.is_csv %}
			<div>
			<h3>{{ result.name }}</h3>
			{{ result.description }}
			<a title='Download CSV' href='{% url 'download_csv' project.pk result.pk %}'><div class='csv-download-icon'></div></a> 
			</div>
		{% endif %}
		</div>
	{% endfor %}

{% endif %}
