{% extends "bgs/base_task_poller.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" media="screen" href="/static/js/lib/jquery.jqGrid-4.7.0/css/ui.jqgrid.css" />
<style>
	.ui-jqgrid-caption {
		display: none;
	}
</style>
<script src="/static/js/lib/jquery.jqGrid-4.7.0/js/i18n/grid.locale-en.js"></script>
<script src="/static/js/lib/jquery.jqGrid-4.7.0/js/jquery.jqGrid.min.js"></script>
{% endblock %}

{% block jshead %}
	function download_grid() {
		var url = "{% url 'download_auto_combo_dataframe' project.pk result_type %}";
		window.location = url;
	}

	function setupGrid() {
		$(function () {
	    	$.getJSON("{% url 'auto_combo_grid_config' project.pk result_type %}", function(data) {
				var csrf_data = {csrfmiddlewaretoken: "{{ csrf_token }}"};

			    var grid = $("#auto-combo-grid");
				var pagerId = '#auto-combo-pager';
			    data["pager"] = pagerId;
			    grid.jqGrid(data)
	            	.navGrid(pagerId,
	                	{add: false, edit: false, del: false, view: false, search: false},
			       		{}, // edit options
			        	{}, // add options
			       	 	{}, // del options 
			        	{}, // search options 
			        	{} // view options 
		        	).jqGrid( //#pager
			            'navButtonAdd', pagerId, {
			            caption : "Download",
			            buttonicon : "ui-icon-arrowthickstop-1-s",
			            onClickButton : download_grid,
			            position : "first",
			            title : "Export",
			            cursor : "pointer"
			        });
		    });
		});
	}
{% endblock %}

{% block all_tasks_complete %}
		setupGrid();
{% endblock %}

{% block content_below_tasks %}
	<table id="auto-combo-grid"></table>
	<div id="auto-combo-pager"></div>
{% endblock %}
