#siteMenuBar > #menuContainer
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 30px;
	padding-top: 2px;
	padding-right: 10px;*/
}

#siteMenuBar ul
{
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

#siteMenuBar li
{
	display: inline-block;
	margin: 0;
	padding: 0 5px 0 5px;
	margin-right: 10px;
}

#siteMenuBar ul:first-child
{
	float: left;
	margin-left: 10px;
}

#menuContainer {
	background: none;
	background-color: #459e00;
}

#menuContainer a {
	color: #ffffff;
}
