<script>
	// TODO: Take common functions from here and combo from index.html and put it into a library 

	function add_category_to_table(category) {
		var category_id = category["id"];
		var name = category["name"];
		
		var deleteButton = $("<button>Delete</button>");
		deleteButton.button({
			icons: {
	        	primary: "ui-icon-trash"
	      	},
	    }).click(function() {
			delete_category(category_id);
	    });		

		var categoryButtonTD = $("<td>");
		categoryButtonTD.append(deleteButton);
		
		var selectInput = $("<input type='checkbox' class='toggle' />");
		selectInput.attr('category_id', category_id);
		categoryButtonTD.append(selectInput);

		var row = $("<tr><td><a href='javascript:viewcategory(" + category_id + ");'>" + name + "</a></tr></tr>");
		row.attr('category_id', category_id);

		row.append(categoryButtonTD);
		
		var categoryTable = $("#category-table");
		categoryTable.append(row);
	}

	function get_category_row(category_id) {
		return $("tr[category_id='" + category_id + "']", "#category-table");
	}

	function remove_category_from_table(data) {
		var category_id = data["id"];
		get_category_row(category_id).remove();

		if (window.visible_category_id == category_id) {
			$("#view-category").fadeOut(200, function() { $("#center-panel").empty(); });
		}
	}


	function delete_category(category_id) {
		var base_url = "{% url 'delete_category' project_id 9999999999 %}";
		var url = base_url.replace(9999999999, category_id);
		
		$.ajax({
		    type: "POST",
		    data: 'csrfmiddlewaretoken={{ csrf_token }}',
		    url: url,
		    success: remove_category_from_table,
		});
	}

	function viewcategory(category_id) {
		var view_category_base_url = '{% url 'view_category' project_id 9999999999 %}';
		var url = view_category_base_url.replace('9999999999', category_id);

		loadCenterGraphContent(url, category_id);
	}

	function delete_selected_categories() {
		$("input", "#category-table").each(function() {
			if ($(this).is(":checked")) {
				delete_category($(this).attr("category_id"));
			}
		});
	}


	$(document).ready(function() {
		clearCenterContent();
		
		$("#graph-groups-button").button();

		$("#category-create-button").button({
			icons: {primary: "ui-icon-plusthick"},
	    }).click(function() {
	    	var name = $('#new-category-name').val() || 'new category';
			var data = 'csrfmiddlewaretoken={{ csrf_token }}&name=' + name;
			$.ajax({
			    type: "POST",
			    data: data,
			    url: "{% url 'create_category' project_id styled_graph.pk %}",
			    success: add_category_to_table,
			});
	    });
	    
		$("#category-delete-all-button").button({
			icons: {primary: "ui-icon-trash"},
		}).click(delete_selected_categories);
	
		$("input#category-select-all").change(function() {
			var is_checked = $(this).is(":checked");
			$("input", "#category-table").each(function() {
				$(this).prop("checked", is_checked);
			});
		});
	
	{% if existing_categories %}
		var existingcategories = {{ existing_categories | safe }};
		for (var i=0 ; i<existingcategories.length; ++i) {
			add_category_to_table(existingcategories[i]);
		}
	{% endif %}

		read_only_disable_check();
	});

</script>

<div id="graph-groups-editor">
	<h3>Categories:</h3>
	<div id='category-toolbar'>
		<input id='new-category-name' placeholder='Collection of Groups' />
		<button id='category-create-button'>Create</button>
		<button id='category-delete-all-button'>Delete</button>
		<input id='category-select-all' type='checkbox' class='toggle' />
	</div>
	<table class="table table-striped">
		<tbody id='category-table' class='files'></tbody>
	</table>
</div>