<script>
	function loadCategory() {
		var category_id = $("#id_category", "#graph-samples-editor").val();
		var base_url = "{% url 'view_graph_samples' project_id 9999999999 %}";
		var url = base_url.replace(9999999999, category_id);
		loadCenterGraphContent(url);
	}

	$(document).ready(function() {
		clearCenterContent();
		
		$("button#edit-category-button").button().click(loadCategory);

		// Auto-load 1st option
		loadCategory();
		read_only_disable_check();
	});

</script>

<div id="graph-samples-editor">
	<h3>Categories:</h3>

	{{ form.category }}
	<button id="edit-category-button">Edit Samples</button>
	
</div>