<script>
	// Change img.src for images (may have been changed in form submission)
	function updateStyledImages(styled_graph_id, styled_graph_hash_code) {
		var img_src = "{% url 'styled_graph' project.pk styled_graph.pk styled_graph.hash_code 'png' %}";
		toolkitAndResultImages = $("img.image-" + styled_graph_id); // original and one in editor
		toolkitAndResultImages.attr('src', img_src);
		toolkitAndResultImages.attr('styled_graph_hash_code', styled_graph_hash_code);
	}

	$(document).ready(function() {
		showImage();
		
		var ppSelector = $(".my_pp_inline");
		var styled_graph_editor = $("#styled-graph-editor");
		if (styled_graph_editor.length) {
			var styled_graph_id = "{{ styled_graph.pk }}";
			var styled_graph_hash_code = "{{ styled_graph.hash_code }}";

			updateStyledImages(styled_graph_id, styled_graph_hash_code);
			
			var colorMapWidget = $("#id_cmap", styled_graph_editor);
			window.colorMapWidget = colorMapWidget;
			{% if not styled_graph.has_colormap %}
			colorMapWidget.parents('tr').hide();		
			{% endif %}

			var colorWidget = $("#id_color", styled_graph_editor);

			{% if styled_graph.has_colors %}
			colorWidget.colorPicker();
			{% else %}
			colorWidget.parents('tr').hide();		
			{% endif %}

			var target = $("#graph-editor-tab", ppSelector).parent();
			var button = $('.update-styled-graph-button', styled_graph_editor).button();
			var options	= {
				target: target,
				success: function() {
					if ($(".errorlist", "form#styled-graph-editor-form").length == 0) { // success
						console.log("SUCCESS!");
					} else {
						console.log("PROBLEMS!");
					}
				},
			};

			$('form#styled-graph-editor-form').ajaxForm(options); 
		} else {
			console.log("Editor NOT init");
		}
		read_only_disable_check()
	});
</script>

<div id="graph-editor-tab">

<form id='styled-graph-editor-form' method="post" action="{% url 'graph_editor_tab' project.pk styled_graph.pk %}">
    {% csrf_token %}
	<table>
	{{ styled_graph_form.as_table }}
	<tr>
	<td><button class='update-styled-graph-button'>Update Style</button>
	</tr>
	</table>
</form>
</div>
