{% extends "bgs/graph_editors/styled_graph_editor.html" %}


{% block extra_tabs %}
			<li><a href="{% url 'graph_category_tab' project.pk styled_graph.pk %}">Groups</a></li>
			<li><a href="{% url 'graph_samples_tab' project.pk styled_graph.pk %}">Samples</a></li>
{% endblock %}
